table{
border: solid 1px;
margin: 10px;
}
tr{
    border: solid 1px;
    margin: 5px;
}
th{
    border: solid 1px;
    padding: 5px 20px;
    text-align: center;
}
td{
    border: solid 1px;
    margin: 5px;
    text-align: center;
}